DATABASE_URL=postgresql://webiz_app@localhost:5432/webiz_checkin
TEST_DATABASE_URL=postgresql://webiz_app@localhost:5432/webiz_checkin_test
SESSION_SECRET_KEY=c219ae720d1abfa256ddb9b3f96c10f0d27caeebed326c11abe253d88f380927
SESSION_COOKIE_SECURE=false
